/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.randomBtn {

  padding: 0px;
  height:25px;
  width:125px;
  background-color: hotpink;
  margin-bottom:10px;
  color:black;


}

.sdRadio, .tdRadio{
margin-left:25px;

}

.sdSelectBtn, .csSelectBtn {
  line-height: 45px;
  margin-top:50px;
  padding: 0px;
  height:45px;
  width:100%;
  background-color: palegreen;
  margin-bottom:0px;
  color:black;
  text-align:center;
  font-size:15px;
}




.tdSelectBtn   {
  line-height: 45px;
  margin-top:0px;
  padding: 0px;
  height:45px;
  width:100%;
  background-color: #808CFF;
  margin-bottom:0px;
  color:black;
  text-align:center;
  font-size:15px;
}

.ranSeatBtn{
  line-height: 45px;
  margin-top:0px;
  padding: 0px;
  height:45px;
  width:100%;
  background-color: hotpink;
  margin-bottom:5px;
  color:black;
  text-align:center;
  font-size:15px;

}

.ranParBtn{
  line-height: 45px;
  margin-top:0px;
  padding: 0px;
  height:45px;
  width:100%;
  background-color: #FFF380; 
  margin-bottom:5px;
  color:black;
  text-align:center;
  font-size:15px;
}

.ranGroupBtn{
  line-height: 45px;
  margin-top:0px;
  padding: 0px;
  height:45px;
  width:100%;
  background-color: tomato;
  margin-bottom:5px;
  color:black;
  text-align:center;
  font-size:15px;
}

.asSeatBtn{
  line-height: 45px;
  margin-top:0px;
  padding: 0px;
  height:45px;
  width:100%;
  background-color: silver;
  margin-bottom:5px;
  color:black;
  text-align:center;
  font-size:15px;
}

.dsSeatBtn{
  line-height: 45px;
  margin-top:0px;
  padding: 0px;
  height:45px;
  width:100%;
  background-color: aqua;
  margin-bottom:5px;
  color:black;
  text-align:center;
  font-size:15px;
}

.addBtn {

  padding: 0px;
  height:25px;
  width:125px;
  background-color: gainsboro;
  margin-bottom:10px;
  color:black;


}

.rsSaveBtn {

  padding: 0px;
  height:25px;
  width:125px;
  background-color: palegreen;
  margin-bottom:10px;
  color:black;


}



.sdTem {

  padding: 0px;
  height:25px;
  width:60px;
  background-color: yellow;
  margin-bottom:0px;
  color:black;


}

.tdTem {

  padding: 0px;
  height:25px;
  width:60px;
  background-color: yellow;
  margin-bottom:0px;
  color:black;


}

.nameInput {

  padding: 0px;
  height:25px;
  width:125px;
  
  margin-bottom:10px;
  color:black;


}

.seatbtn {

  padding: 0px;
  background-color: red;
 
  color:black;


}

.tdin{

  padding: 0px;
  height:25px;
  width:125px;
  background-color: #808CFF;
  margin-bottom:10px;
  color:white;


}



.firstbox {
  margin-top:70px;
  padding:0px;
  background-color: white;
  text-align: center;
  width:10px;
  
  
} 

 .eighthbox {
  margin-left: 25px;
  margin-top:70px;
  padding:0px;
  background-color: white;
  text-align: center;
  width:10px;
  
  
} 



.inputcolor{
  background-color:grey;
}


.firstcolumn, .eighthcolumn{
  padding: 0px;
  height:150px;
  width:30px;
  background-color: #808CFF;
  margin-bottom:100px;
  color:white;
}

.secondbox, .thirdbox, .fourthbox, .fifthbox, .sixthbox, .seventhbox {
  padding:0px;
  background-color: white;
  text-align: center;
  margin-left:30px;
  
}

 

.secondcolumn, .thirdcolumn, .fourthcolumn, .fifthcolumn {
  
  padding: 0px;
  height:125px;
  width:125px;
  background-color: #808CFF;
  margin-bottom:120px;
  color:white;
}



.boxtemp1, .boxtemp2, .boxtemp3, .boxtemp4 {

  width:125px;
  height:90px;
  margin-bottom:0px;
  background-color: hotpink;
  border-color:red;
  border-width:5px;
}

.boxtemp1a {

  width:125px;
  height:25px;
  margin-bottom:10px;
  background-color: black;
  border-color:red;
  border-width:5px;
  color:white;
}

.boxtemp5 {



  width:125px;
  height:125px;
  margin-bottom:55px;
  background-color: grey;
  border-color:red;
  border-width:5px;


}

.input-group-addon{
  background-color: black;
  border:black;
}
  

.floor{
  display:block;
  background-color: #ddffff;
}

.well{
  padding:110px;
  background-color: white;
  
} 





.template1a, .template3a, .template5a, .template7a  {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 12px;
    color:white;
    
}

.template1b, .template3b, .template5b, .template7b {
    position: absolute;
    top: 200px;
    left: 135px;
    font-size: 40px;
    color:white;
    
}

.template1c, .template3c, .template5c, .template7c {
    position: absolute;
    top: 310px;
    left: 20px;
    font-size: 40px;
    color:white;
    
}

.template1d, .template3d, .template5d, .template7d {
    position: absolute;
    top: 310px;
    left: 135px;
    font-size: 40px;
    color:white;
    
}
.template2a, .template4a, .template6a, .template8a  {
    position: absolute;
    top: 495px;
    left: 20px;
    font-size: 40px;
    color:white;
    
}

.template2b, .template4b, .template6b, .template8b{
    position: absolute;
    top: 495px;
    left: 135px;
    font-size: 40px;
    color:white;
    
}

.template2c, .template4c, .template6c, .template8c {
    position: absolute;
    top: 605px;
    left: 20px;
    font-size: 40px;
    color:white;
    
}

.template2d, .template4d, .template6d, .template8d{
    position: absolute;
    top: 605px;
    left: 135px;
    font-size: 40px;
    color:white;
    
}
